{{% extends "base.html" %}

{% block logo %}
      SOBERful
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<title>Search Menu</title>
<link rel="stylesheet" href="https.://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">
   function active(){
       var searchBar = document.getElementById('SearchBar');

       if(searchBar.value == 'Search for items..'){
           searchBar.value = ''
           searchBar.placeholder = 'Search for items..'

       }
   }
   function inactive(){
       var searchBar = document.getElementById('SearchBar');

       if(searchBar.value == 'Search for items..'){
           searchBar.value = 'Search for items..'
           searchBar.placeholder = ''

       }
   }
</script>
<style>
   #searchBar {
   border: 1px solid #000000;
   border-right: none;
   font-size: 16px;
   padding: 10px;
   outline: none;
   width: 250px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   }

   #searchBtn {
   border: 1px solid #000000;
   font-size: 16px;
   padding: 14px;
   cursor: pointer;
   outline: none;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   }

   #searchBtn:hover {
   background: #F3E59B
   }

</style>
<body>

<form action="search.php" method="post">
<div class="row">

   <input type="text" id="searchBar" onkeyup="myFunction()" placeholder="Search for items.." title="Type in a category" autocomplete="off" maxlength="25" onmousedown="active();" onblur="inactive();"><button type="submit" id="searchBtn"><i class="fa fa-search"></i></button>
</div>
</form>
